*.gitignore.*

###> The others
composer.lock
auth.json

compose.yaml
compose.override.yaml

/.vscode
/.idea
/.history
###> The others

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/vendor/
###< symfony/framework-bundle ###
